/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start */
body {
	width: 1920px;
	height: auto;
}

.relative {
	position: relative;
	height: 1056px;
}

/* navbar */
.navbar {
	height: 127px;
	width: 1920px;
	position: absolute;
	z-index: 100;
	background: #fff;
}

.navbar-container {
	display: flex;
	align-items: center;
	padding: 52px 250px;
}

.navbar-list-left,
.navbar-list-right,
.links-images {
	display: flex;
}

.navbar-list-left{
	margin-right: 200px;
	width: 700px;
}

.navbar-list-left li {
	width: 500px;
}

.navbar-list-right{
	width: 400px;
}

.navbar-list-right li {
	width: 200px;
}

.links-images a{
	margin: 0 12px;
}

.navbar-list-left a,
.navbar-list-right a {
	text-decoration: none;
	color: black;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 1px;
}

.list-item {
	cursor: pointer;
}

.navbar-logo-absolute {
	position: absolute;
	top: 20px;
	right: 877px;
	left: 877px;
}

/* banner */
.banner-absolute {
	position: absolute;
	top: 127px;
	right: 0;
	left: 0;
	border-top: 2px solid #EA7F1B;
}

.banner-img{
	max-width: 100%;
	z-index: 2;
	position: absolute;
}

.banner-absolute .base-color {
	position: absolute;
	top: 80px;
	left: 0px;
	right: 0px;
	z-index: 1;
}

.label {
	font-size: 100px;
	font-weight: 800;
	color: #45280D;
	line-height: 150px;
	letter-spacing: 15px;
	position: absolute;
	z-index: 10;
	height: 300px;
	width: 755px;
	margin: 139px 915px 258px 250px;
}

.banner-absolute .fish-decoration {
	position: absolute;
	top: 546px;
	left: 186px;
	right: 1471px;
	z-index: 10;
}

/* about me */
.about-me {
	margin-left: 250px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	padding: 10px;
	height: 995px;
}

.intro-left {
	width: 698px;
}

.intro-left span {
	height: 50px;
	width: 137px;
	color: #EA7F1B;
	line-height: 50px;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 1px;
}

.intro-left h2 {
	height: 220px;
	width: 572px;
	color: #45280D;
	line-height: 100px;
	font-size: 80px;
	font-weight: 800;
	letter-spacing: 2px;
}

.intro-left p {
	height: 186px;
	width: 698px;
	color: #505050;
	line-height: 30px;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 3px;
}

.intro-right {
	position: relative;
	top: 0;
	right: 0;
	left: 0;
}

.intro-right .headshot{
	border-radius: 50%;
	position: absolute;
	top: 0;
	z-index: 1;
}

.intro-right .intro-basecolor {
	position: absolute;
	top: 208px;
	right: 137px;
	left: 75px;
	z-index: -1;
}

.intro-fishes {
	position: absolute;
	top: 650px;
	left: 400px;
	right: 50px;
	z-index: 10;
}

.intro-right .label-c-name {
	height: 100px;
	width: 285px;
	color: #45280D;
	line-height: 100px;
	font-size: 80px;
	font-weight: 800;
	letter-spacing: 3px;
	position: absolute;
	z-index: 20;
	top: 425px;
	left: 345px;
}

.intro-right .label-e-name {
	height: 72px;
	width: 302px;
	color: #45280D;
	line-height: 72px;
	font-size: 50px;
	font-weight: 500;
	letter-spacing: 3px;
	position: absolute;
	z-index: 20;
	top: 534px;
	left: 328px;
}

/* latest activity */
.latest-activity {
	position: relative;
	height: 1294px;
}

.la-basecolor {
	position: absolute;
	z-index: -1;
}

.la-basecolor-left {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	left: 0;
}

.la-basecolor-right {
	position: absolute;
	z-index: 1;
	top: 1064px;
	left: 1650px;
}

.latest-activity span {
	height: 50px;
	width: 200px;
	color: #EA7F1B;
	line-height: 50px;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 1px;
	position: absolute;
	z-index: 10;
	top: 150px;
	left: 250px;
}

.latest-activity h2 {
	height: 100px;
	width: 388px;
	color: #45280D;
	line-height: 100px;
	font-size: 80px;
	font-weight: 800;
	letter-spacing: 2px;
	position: absolute;
	z-index: 10;
	top: 210px;
	left: 250px;
}

.la-container {
	width: 578px;
	height: 692px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 35px;
	padding: 10px;
	position: absolute;
	top: 386px;
	left: 250px;
}

.la-yymmdd {
	display: flex;
	margin: 38px 0 46px 0
}

.la-year{
	font-weight: 500;
	font-size: 50px;
	line-height: 60px;
	letter-spacing: 1.5px;
	color: #EA7F1B;
	margin-right: 16px;
}

.la-date{
	font-weight: 400;
	font-size: 30px;
	line-height: 50px;
	letter-spacing: 1.5px;
	color: #EA7F1B;
	display: flex;
	align-items: center;
}

.la-line {
	width: 100%;
	height: 1px;
	margin-top: 23px;
	margin-left: 16px;
	color: #9C9C9C;
}

.la-item h3 {
	font-weight: 700;
	font-size: 30px;
	line-height: 50px;
	letter-spacing: 1px;
	width: 578px;
	height: 100px;
	color: #505050;
	margin-bottom: 16px;
}

.la-item p {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 1px;
	color: #505050;
}

.la-item3 {
	width: 400px;
}

.la-decoration-line {
	position: absolute;
	top: 1143px;
	left: 885px;
}

/* policy */
.policy {
	height: 1154px;
	position: relative;
	top: 150px;
	left: 250px;
}

.policy span {
	height: 50px;
	width: 137px;
	color: #EA7F1B;
	line-height: 50px;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 1px;
}

.policy h2 {
	height: 220px;
	width: 572px;
	color: #45280D;
	line-height: 100px;
	font-size: 80px;
	font-weight: 800;
	letter-spacing: 2px;
}

.policy-basecolor {
	position: absolute;
	top: 200px;
	left: 94px;
	z-index: -1;
}

.policy-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	display: flex;
	gap: 60px;
}

.policy-content img {
	position: absolute;
	top: 285px;
}

.policy-content .policy-text {
	position: absolute;
	top: 285px;
	left: 720px;
}

.policy-text {
	width: 551px;
}

.policy-text h3{
	font-weight: 700;
	font-size: 30px;
	line-height: 50px;
	letter-spacing: 2px;
	color: #505050;
}

.text-container {
	margin-left: 23px;
	margin-top: 18px;
}

.text-container ol {
	list-style-type: decimal;
}		

.policy-text li {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 2px;
}

.policy-fishes {
	position: absolute;
	top: 688px;
	left: 1021px;
}

/* donation */