.hamburger {
  display: none;
}

/* RWD */

@media screen and (max-width: 1200px) {
  .navbar ul {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 50px;
  }

  .hamburger a, ul {
    text-decoration: none;
    color: black;
    font-size: 800;
    font-size: 30px;
    margin-left: 50px;
  }

  /* dropdown */
  .dropdown {
    display: none; /*一開始沒有*/
    position: absolute;
    left: 0px;
    top: 100%;
    width: 300px;
    z-index: 120;
    background: #D3D3D3;
  }

  .dropdown.active {
    display: block; /* Show dropdown when active */
  }

  .dropdown li a {
    display: block;
    color: black;
    border-top: 1px solid #FFFFFF;
    padding: 16px 0;
    text-decoration: none;
  }

  .dropdown li a:hover {
    background: #FFFACD;
  }

  /* logo */
  
}