.hamburger {
  display: none;
}

/* RWD */

@media screen and (max-width: 1200px) {
  .navbar ul {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
  }

  /* New styles for dropdown */
  .dropdown {
    display: none; /* Initially hidden */
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 120;
    background: #AA0601; /* Same as navbar */
  }

  .dropdown.active {
    display: block; /* Show dropdown when active */
  }

  .dropdown li a {
    display: block;
    color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    padding: 16px 0;
    text-decoration: none;
  }

  .dropdown li a:hover {
    background: #8f0400;
  }
}